h1 {
    color: red;
    text-align: center;
    background: yellow;
}

li {
    display: inline-block;
    color: green;
    border: 2px solid purple;
    text-align: center;
    font-size: 1rem;
    width: 16%;
    white-space: nowrap;
    word-wrap: break-word;
}

li:first-child {
    border-radius: 10px 0px 0px 10px;
}

li:last-child {
    border-radius: 0px 10px 10px 0px;
}

li a{
    color: red;
}

li a:hover {
    color: grey;
}