body {
    background-color:darkgrey;
    width: 100%;
}

hr.top {
    border: 1px solid black;
    border-radius: 5px;
    width: 99%;
    margin-left: 0%;
}

hr {
    border: 1px solid gray;
}

h1 {
    font-family:Arial, Helvetica, sans-serif ;
    color: black;
    text-align: center;
    background: white;
    font-size: 6vw;
    margin-top: 0%;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 10px;
}

.container {
    display: inline-flex;
}

.container > div {
    text-align: center;
    font-size: 1.5rem;
    padding-right: 5%;
    margin-left: 6%;
}

ul.index {
    display: inline;
    padding-inline-start: 5%;
}

li.index {
    display: inline-block;
    float: none;
    border: 5px solid grey;
    text-align: center;
    font-size: 3vw;
    width: 11%;
    white-space: nowrap;
    overflow-wrap: break-word;
    justify-content: center;
    padding: 3%;
    background-color: white;
}

li.index:first-child {
    border-radius: 10px 0px 0px 10px;
}

li.index:last-child {
    border-radius: 0px 10px 10px 0px;
}

ol, ul, h2, h4, p {
    width: 80%;
}

p, li {
    font-size: 1.2rem;
}



img:not(.wip) {
    max-width: 200px;
    max-height: 200px;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .9em;
}


@media (max-width: 400px) or (orientation: portrait) {
    ul.index {
        display:grid;
        width: 150%;
        margin-left: 30%;
    }

    li.index {
        font-size: 3.5vw;
        border-radius: 10px 10px 10px 10px;
    }

    li.index:first-child {
        border-radius: 10px;
    }
    
    li.index:last-child {
        border-radius: 10px;
    }

}