body {
    background-color:darkgrey;
    width: 100%;
}

h1 {
    font-family:Arial, Helvetica, sans-serif ;
    color: black;
    text-align: center;
    background: white;
    font-size: 6vw;
    margin-top: 0%;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 10px;
}

ul {
    display: inline;
    padding-inline-start: 8.5%;
}

li {
    display: inline-block;
    float: none;
    border: 3px solid grey;
    text-align: center;
    font-size: 3vw;
    width: 12%;
    white-space: nowrap;
    overflow-wrap: break-word;
    justify-content: center;
    padding: 2%;
    background-color: white;
}

li:first-child {
    border-radius: 10px 0px 0px 10px;
}

li:last-child {
    border-radius: 0px 10px 10px 0px;
}

li a{
    color: black;
}

li a:hover {
    color: grey;
}


@media (max-width: 400px) or (orientation: portrait) {
    ul {
        display:grid;
        width: 150%;
        margin-left: 30%;
    }

    li {
        font-size: 3.5vw;
        border-radius: 10px 10px 10px 10px;
    }

    li:first-child {
        border-radius: 10px;
    }
    
    li:last-child {
        border-radius: 10px;
    }

}